apiVersion: apps/v1
kind: Deployment
metadata:
  name: debate
  namespace: eum-backend
  labels:
    app: debate
spec:
  replicas: 1
  selector:
    matchLabels:
      app: debate
  template:
    metadata:
      labels:
        app: debate
    spec:
      containers:
        - name: debate-container
          image: 879657431997.dkr.ecr.ap-northeast-2.amazonaws.com/eum-debate:51cea98518493d6e63f6a58de818fab061ed1c69
          ports:
            - containerPort: 8083
          env:
            - name: DB_URL
              valueFrom:
                configMapKeyRef:
                  name: debate-config
                  key: db-url
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: debate-secret
                  key: db-username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: debate-secret
                  key: db-password
            - name: KAFKA_URL
              valueFrom:
                configMapKeyRef:
                  name: debate-config
                  key: kafka-url
            - name: TRANSLATION_KEY
              valueFrom:
                secretKeyRef:
                  name: debate-secret
                  key: translation-key
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: debate-secret
                  key: jwt-secret
            - name: JWT_ACCESS_EXPIRATION
              valueFrom:
                configMapKeyRef:
                  name: debate-config
                  key: jwt-access-expiration
            - name: JWT_REFRESH_EXPIRATION
              valueFrom:
                configMapKeyRef:
                  name: debate-config
                  key: jwt-refresh-expiration
            - name: EUREKA_IP
              valueFrom:
                configMapKeyRef:
                  name: debate-config
                  key: eureka-ip
            - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
              value: "true"
            - name: SPRING_APPLICATION_NAME
              value: "DEBATE"
            - name: TZ
              value: "Asia/Seoul"
            - name: SPRING_JACKSON_TIME-ZONE
              value: "Asia/Seoul"
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m" 