apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
  namespace: eum-backend

data:
  db-url: jdbc:mysql://eum-back.cbuqoagm4dq9.ap-northeast-2.rds.amazonaws.com:3306/user
  jwt-access-expiration: "36000000"
  jwt-refresh-expiration: "36000000"
  redis-host: redis.eum-infra.svc.cluster.local
  redis-port: "6379"
  eureka-url: http://discovery.eum-backend.svc.cluster.local:8761/eureka
  front-ip: https://eum-friends.com/
  gateway-url: https://api.eum-friends.com/auth

  # 수정