apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: eum-backend
  labels:
    app: api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway-container
          image: 879657431997.dkr.ecr.ap-northeast-2.amazonaws.com/eum-api-gateway:0978f6d4ddbf5dd0a18639a12ff142e8f6c392ea
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              valueFrom:
                configMapKeyRef:
                  name: api-gateway-config
                  key: db-url
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: api-gateway-secret
                  key: db-username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: api-gateway-secret
                  key: db-password
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: api-gateway-secret
                  key: jwt-secret
            - name: JWT_ACCESS_EXPIRATION
              valueFrom:
                configMapKeyRef:
                  name: api-gateway-config
                  key: jwt-access-expiration
            - name: JWT_REFRESH_EXPIRATION
              valueFrom:
                configMapKeyRef:
                  name: api-gateway-config
                  key: jwt-refresh-expiration
            - name: SPRING_REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: api-gateway-config
                  key: redis-host
            - name: SPRING_REDIS_PORT
              valueFrom:
                configMapKeyRef:
                  name: api-gateway-config
                  key: redis-port
            - name: EUREKA_IP
              valueFrom:
                configMapKeyRef:
                  name: api-gateway-config
                  key: eureka-url
            - name: FRONT_IP
              valueFrom:
                configMapKeyRef:
                  name: api-gateway-config
                  key: front-ip
            - name: GATEWAY_URL
              valueFrom:
                configMapKeyRef:
                  name: api-gateway-config
                  key: gateway-url
            - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
              value: "true"
            - name: DEBATE_SECRET
              valueFrom:
                secretKeyRef:
                  name: api-gateway-secret
                  key: debate-secret
            - name: TZ
              value: "Asia/Seoul"
            - name: SPRING_JACKSON_TIME-ZONE
              value: "Asia/Seoul"
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m" 