apiVersion: apps/v1
kind: Deployment
metadata:
  name: classifier
  namespace: eum-ai
  labels:
    app: classifier
spec:
  replicas: 1
  selector:
    matchLabels:
      app: classifier
  template:
    metadata:
      labels:
        app: classifier
    spec:
      containers:
      - name: classifier
        image: 879657431997.dkr.ecr.ap-northeast-2.amazonaws.com/eum-classifier:5dbc5e2fcfd0ed7646a0472fa654f28abf684c0e
        ports:
        - containerPort: 8000
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "5Gi"
            cpu: "1000m"
        env:
        - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          - name: EUREKA_URL
            valueFrom:
              configMapKeyRef:
                name: classifier-config
                key: EUREKA_URL
          - name: EUREKA_IP
            valueFrom:
              configMapKeyRef:
                name: classifier-config
                key: EUREKA_IP
          - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
            valueFrom:
              configMapKeyRef:
                name: classifier-config
                key: EUREKA_INSTANCE_PREFER_IP_ADDRESS
          - name: EUREKA_INSTANCE_HOSTNAME
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          - name: SPRING_APPLICATION_NAME
            value: "classifier"
          - name: EUREKA_APP_NAME
            valueFrom:
              configMapKeyRef:
                name: classifier-config
                key: EUREKA_APP_NAME
          - name: EUREKA_HOST
            valueFrom:
              configMapKeyRef:
                name: classifier-config
                key: EUREKA_HOST
          - name: EUREKA_PORT
            valueFrom:
              configMapKeyRef:
                name: classifier-config
                key: EUREKA_PORT
          - name: LOG_SERVICE_URL
            valueFrom:
              configMapKeyRef:
                name: classifier-config
                key: LOG_SERVICE_URL
          - name: LOG_SERVICE_TOKEN
            valueFrom:
              secretKeyRef:
                name: classifier-secret
                key: LOG_SERVICE_TOKEN