apiVersion: v1
kind: ConfigMap
metadata:
  name: user-config
  namespace: eum-backend

data:
  jwt-access-expiration: "36000000"
  jwt-refresh-expiration: "36000000"
  db-url: jdbc:mysql://eum-back.cbuqoagm4dq9.ap-northeast-2.rds.amazonaws.com:3306/user
  eureka-ip: http://discovery.eum-backend.svc.cluster.local:8761/eureka
  kafka-url: kafka.eum-infra.svc.cluster.local:9092
  # google-uri: https://eum-friends.com/auth/callback      # 배포 시 사용
  google-uri: http://localhost:3000/auth/callback        # 로컬 테스트 시 사용
  redis-url: redis.eum-infra.svc.cluster.local 
