apiVersion: v1
kind: ConfigMap
metadata:
  name: information-config
  namespace: eum-backend
data:
  EUREKA_IP: http://discovery.eum-backend.svc.cluster.local:8761/eureka
  AI_IP: https://api.eum-friends.com
  S3_REGION: "ap-northeast-2"
  S3_BUCKET_NAME: "eum-msa-bucket"
  KAFKA_URL: kafka.eum-infra.svc.cluster.local:9092
  JWT_ACCESS_EXPIRATION: "36000000"
  JWT_REFRESH_EXPIRATION: "36000000"
  DB_URL: jdbc:mysql://eum-back.cbuqoagm4dq9.ap-northeast-2.rds.amazonaws.com:3306/information?serverTimezone=Asia/Seoul&characterEncoding=UTF-8