apiVersion: apps/v1
kind: Deployment
metadata:
  name: community
  namespace: eum-backend
  labels:
    app: community
spec:
  replicas: 1
  selector:
    matchLabels:
      app: community
  template:
    metadata:
      labels:
        app: community
    spec:
      containers:
        - name: community-container
          image: 879657431997.dkr.ecr.ap-northeast-2.amazonaws.com/eum-community:56ccb2ae219d8736f2953e7687d11b371286c828
          ports:
            - containerPort: 8082
          env:
            - name: DB_URL
              valueFrom:
                configMapKeyRef:
                  name: community-config
                  key: db-url
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: community-secret
                  key: db-username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: community-secret
                  key: db-password
            - name: KAFKA_URL
              valueFrom:
                configMapKeyRef:
                  name: community-config
                  key: kafka-url
            - name: TRANSLATION_KEY
              valueFrom:
                secretKeyRef:
                  name: community-secret
                  key: translation-key
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: community-secret
                  key: jwt-secret
            - name: JWT_ACCESS_EXPIRATION
              valueFrom:
                configMapKeyRef:
                  name: community-config
                  key: jwt-access-expiration
            - name: JWT_REFRESH_EXPIRATION
              valueFrom:
                configMapKeyRef:
                  name: community-config
                  key: jwt-refresh-expiration
            - name: S3_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: community-secret
                  key: s3-access-key
            - name: S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: community-secret
                  key: s3-secret-key
            - name: S3_REGION
              valueFrom:
                configMapKeyRef:
                  name: community-config
                  key: s3-region
            - name: S3_BUCKET_NAME
              valueFrom:
                configMapKeyRef:
                  name: community-config
                  key: s3-bucket-name
            - name: EUREKA_IP
              valueFrom:
                configMapKeyRef:
                  name: community-config
                  key: eureka-ip
            - name: AI_IP
              valueFrom:
                configMapKeyRef:
                  name: community-config
                  key: ai-ip
            - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
              value: "true"
            - name: SPRING_APPLICATION_NAME
              value: "COMMUNITY"
            - name: TZ
              value: "Asia/Seoul"
            - name: SPRING_JACKSON_TIME-ZONE
              value: "Asia/Seoul"
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m" 